<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/site.js" async defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <style>
        .articleBox {
            border: 2px solid black;
            border-radius: 5px;
        }

        .hidden {
            display: none;
        }

        .starColored {
            color: goldenrod;
        }

        .favorite {
            -webkit-animation: star 0.5s;
            opacity: 1;
            color: goldenrod
        }

        @-webkit-keyframes star {
            0% {
                opacity: 0.5;
                color: black;
            }

            100% {
                opacity: 1;
                color: goldenrod
            }
        }

        .titleText {
            font-size: 2rem;
        }

        .nav-item {
            margin-right: 0.5rem;
        }

        #removeAnchorEffects {
            text-decoration: inherit;
            color: inherit;
        }
        .jumbotron {
            
            background-image: url("/assets/horizontalnetwork.png") !important;
            background-size: cover !important;
            height: 100%;
            color:white
        }
        body {
            background-color: rgb(230, 247, 255);
        }
        .articleBox {
            background-color: white;
            position: relative;
            right: 20px;
        }
        .articles {
            position: relative;
        }
    </style>


</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {{{body}}}
    <script src="../../public/assets/horizontalnetwork.png"
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>